body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

div {
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

#primeraFila {
    background-color: white;
}

#segundaFila {
    background-color: gray;
}

#terceraFila {
    background-color: black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

.rec {
    border-radius: 10px;
}

.cir {
    border-radius: 50%;
}